html {
  height: 100%;
}

body {
  max-width: 2440px;
  margin: 0;
  padding: 0;
  height: 100%;
}

.root {
  display: grid;
  height: 100%;
  grid-template-columns: 180px;
  grid-template-rows: 60px;
}

.header {
  grid-area: 1 / 1 / span 1 / span 2;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: dimgrey;
  color: white;
  font-size: 24px;
  font-family: monospace;
  z-index: 1;
}

.sidebar {
  padding-top: 30px;
  background-color: #e9e3e3;
  box-shadow: 3px 0px rgba(0, 0, 0, 0.3);
}

.sidebar a {
  display: block;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
  background-color: gray;
}

.main-content {
  display: grid;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .main-content {
    grid-template-columns: 100%;
  }
}

@media screen and (min-width: 768px) {
  .main-content {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (min-width: 992px) {
  .main-content {
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
}

@media screen and (min-width: 1200px) {
  .main-content {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

.item-container {
  padding: 5px;
}

.item {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  overflow-wrap: break-word;
  transition: 0.6s;
}
.item:hover {
  transform: scale(0.95);
  box-shadow: 10px 10px 6px rgba(125, 128, 128, 0.5);
}

.item img {
  width: 100%;
}

.item .item-name {
  width: 100%;
  margin: 5px;
}

hr {
  border-top: 1px solid black;
}

.item p {
  width: 100%;
  margin: 5px;
}
